<!doctype html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <style type="text/tailwind/css">
    @theme {
      --color-clifford: #da373d;
    }
  </style>
</head>
<body>
    {% extends 'base.html' %}

    {% block title %}Home{% endblock %}

    {% block content %}
    <div class="bg-white p-6 rounded shadow">
        <h2 class="text-2xl font-semibold mb-4">Sistema de Controle de Frequência</h2>
        <p class="text-gray-700">
            Plataforma institucional para registro de presença em sala de aula via QR Code,
            com validação de rede da universidade e geolocalização. Faça login para acessar
            seu dashboard.
        </p>
    </div>
    {% endblock %}
</body>
</html>